body{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    color: rgb(255,176,0);
    font-family: helvetica, sans-serif;
    padding-left: 0vh;
    padding-right: 0VH;
    padding-top: 0vh;
    padding-bottom: 0vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.center{
    margin: 0vh;
    position: absolute;
    top: 50%;
}

.title{
    font-size: 8vh;
    text-shadow: 2px 2px rgb(104, 104, 104); 
    transition: color 0.2s, text-shadow 0.2s;
    font-family: "ethnocentric", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title:hover{
    color: rgb(205,204,0);
    text-shadow: 5px 5px rgb(104, 104, 104); 

}

.footer{
    margin-top: 2.5vh;
}

.description{
    margin-top: 5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    line-height: 4vh;
    font-size: 3vh;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.1s;
}

a:hover{
    color: red;
}

a:active{
    color: white;
}

.button{
    background-color: rgb(255,176,0);
    color: rgb(104, 104, 104);
    border: none;
    text-align: center;
    font-size: 6vh;
    border-radius: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(104, 104, 104);
    color: rgb(255,176,0);
    box-shadow: 5px 5px rgb(104,104,104);

}

.button:active{
    opacity: 50%;
}

.cliEmphasis{
    font-family: "ethnocentric", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heart:hover{
    cursor: pointer;
    font-size: 250%;
}